.header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 6;
  background-color: var(--bg);
  height: 3rem;
  margin-inline-start: 45px;
}

@media screen and (min-width: 430px) {
  .header {
    grid-column: 1/10;
    height: 3.5rem;
  }
}
