.header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 6;
  height: 3rem;
  margin-inline-start: 45px;
}

.header img {
  margin-block-start: 10px;
}

.addButton {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 70px;
  text-align: center;
}

.addButton svg:hover {
  color: rgb(44, 243, 183);
  filter: drop-shadow(0 0 0.75rem rgba(143, 143, 143, 0.466));
  cursor: pointer;
  font-size: 0.5rem;
  font-weight: bold;
}

.addButton svg {
  width: 50px;
  height: 50px;
  color: var(--bg);
}

@media screen and (min-width: 430px) {
  .header {
    grid-column: 1/10;
    height: 3.5rem;
  }
}
