.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(232, 233, 240);
  padding-top: 60px;
  transition: 0.5s ease-in-out;
  color: var(--bg);
}

.sidebar--disabled {
  width: 45px;
}

.sidebar--enabled {
  width: 210px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin-block-start: 15px;
}

.nav__icon--container {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-block: 12px;
  border-radius: 14px;
  width: 85%;
  height: 50px;
  cursor: pointer;
}

.nav__icon--container:hover {
  box-shadow: 0 3px 10px 2px rgba(85, 96, 117, 0.13);
}

.nav__icon--menu {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 40px;
  height: 40px;
}

.nav__icon {
  width: 30px;
  height: 30px;
}

.nav__list li span {
  margin-inline-start: 20px;
}

.nav__icon--logout {
  position: absolute;
  bottom: 20px;
  left: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 0.6rem;
  font-weight: bold;
}

@media screen and (min-width: 400px) {
  .sidebar--disabled {
    width: 60px;
  }

  .nav__icon--menu {
    left: 10px;
  }

  .nav__icon--logout {
    left: 15px;
  }
}
