@media (prefers-color-scheme: dark) {
  :root {
    --bg: #17223b;
    --bg-sec: #263859;
    --txt: #6b778d;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #e8f0f1;
    --bg-sec: #b0c8d3;
    --txt: #17223b;
    --contrast: #ff6768;
    --shadow: #696f79;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Caveat", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
